<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground 1</title>
</head>
<body>
    <h1 style="text-align:center;">Welcome</h1>

    <div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
        <div style="width: 100px; height: 100px; background-color: rgb(139, 216, 255); margin: 10px;"></div>
        <div style="width: 100px; height: 100px; background-color: rgb(139, 216, 255); margin: 10px;"></div>
        <div style="width: 100px; height: 100px; background-color: rgb(139, 216, 255); margin: 10px;"></div>
        
    </div>
</body>
</html>